<div
  class="object-editor-field-template flex-row flex-gap-1 pb-1"
  style="display: none;"
>
  <div class="text-field object-editor-key" contenteditable="true"></div>
  <div class="text-field object-editor-value" contenteditable="true"></div>
  <vscode-button
    class="object-editor-delete"
    appearance="icon"
    aria-label="delete"
  >
    <span class="codicon codicon-close"></span>
  </vscode-button>
</div>
<div class="object-editor-fields">
  {{#each obj}}
    <div class="object-editor-field flex-row flex-gap-1 pb-1">
      <div
        class="text-field object-editor-key"
        contenteditable="true"
      >{{@key}}</div>
      <div
        class="text-field object-editor-value"
        contenteditable="true"
      >{{this}}</div>
      <vscode-button
        class="object-editor-delete"
        appearance="icon"
        aria-label="delete"
      >
        <span class="codicon codicon-close"></span>
      </vscode-button>
    </div>
  {{/each}}
</div>
<span>
  <vscode-button class="object-editor-add" appearance="icon" aria-label="add">
    <span class="codicon codicon-plus"></span>
  </vscode-button>
</span>