html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* utils */

.full-height {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-gap-1 {
  gap: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.uppercase {
  text-transform: uppercase;
}

/* utils */

.text-field {
  padding: 0.25rem;
  margin: 0;
  border-radius: 2px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  border: 1px solid var(--vscode-sideBarSectionHeader-border);
  overflow: auto;
  outline: 0px solid transparent;
}

.text-field:focus {
  border: 1px solid var(--vscode-editor-foreground);
}

.text-area-container {
  position: relative;
}

.text-area {
  height: calc(100% - 1rem);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
