.content-container {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 15rem) {
  .actions {
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-start;
  }
}

.request-property-input {
  padding-bottom: 0.5rem;
}
