.get-request {
  background-color: #2ecc71;
  color: black;
}

.post-request {
  background-color: #c586c0;
  color: black;
}

vscode-panel-tab {
  font-size: 11px;
}

.dot {
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.25rem;
}

.success {
  background-color: #2ecc71;
}

.error {
  background-color: #e74c3c;
}

.loading {
  background-color: #ecf0f1;
}

.idle {
  background-color: transparent;
}

.object-editor-key-field {
  width: 33%;
  overflow: hidden;
  flex-shrink: 0;
}

.object-editor-value-field {
  flex-grow: 1;
}

.request-status {
  text-transform: capitalize;
}
